.opensolr-register-wrapper {
  max-width: 40rem;
}
.opensolr-register-wrapper summary .or-title {
  display: flex;
  align-items: center;
}
.opensolr-register-wrapper summary .or-title h3 {
  margin: 0 0 0 1rem;
}
.opensolr-info-note {
  margin-block-end: var(--space-m);
  color: var(--input-fg-color--description);
  font-size: var(--font-size-xs);
  line-height: calc(17rem / 16);
}

/* Steps Progress Bar */
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-gray-050);
  margin-bottom: 6px;
  border: 1px solid var(--color-gray-100);
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.active .step-counter {
  border: 1px solid var(--color-blue-300);
}

.stepper-item.completed .step-counter {
  background-color: var(--button-bg-color--primary);
  color: var(--button-fg-color--primary);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--button-bg-color--primary);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}