.opensolr-register-wrapper {
  max-width: 40rem;
}
.opensolr-register-wrapper summary .or-title {
  display: flex;
  align-items: center;
}
.opensolr-register-wrapper summary .or-title h3 {
  margin: 0 0 0 1rem;
}
.opensolr-info-note {
  margin-block-end: 1rem;
  color: #55565b;
  font-size: 0.79rem;
  line-height: calc(17rem / 16);
}

/* Steps Progress Bar */
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f3f4f9;
  margin-bottom: 6px;
  border: 1px solid #dedfe4;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.active .step-counter {
  border: 1px solid #6694ff;
}

.stepper-item.completed .step-counter {
  background-color: #003ecc;
  color: #fff;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #003ecc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}