<h3>{{ 'Automatic creation of core & server'|trans }}</h3>
<p>{{ 'This form will automatically do the following:'|trans }}</p>
<ol>
  <li>{{ 'Create a core in your opensolr account'|trans }}</li>
  <li>{{ 'Create a Drupal server for your new core'|trans }}</li>
  <li>{{ 'Upload the configuration files to your opensolr core'|trans }}</li>
</ol>

<p>
  {{ 'Below you have the available regions and versions.'|trans }}<br>
  {{ 'Select one in order to proceed, and then press on the "Start" button.'|trans }}
</p>
