<div class="stepper-wrapper">
  {% for step in steps %}
    {% set attributes = create_attribute() %}
    {%
      set step_classes = [
      'stepper-item',
      step.number < active_step ? 'completed',
      step.number == active_step ? 'active',
    ]
    %}
    <div {{ attributes.addClass(step_classes) }}>
      <div class="step-counter">{{ step.number }}</div>
      <div class="step-name">{{ step.title }}</div>
    </div>
  {% endfor %}
</div>
